*{
	margin: 0;
	padding: 0;
}
div{
	box-sizing: border-box;
}
/*头部*/
#aaa {
	
	width: 100%;
	height: 70px;
	background-color: #1f1f1f;
	

}
#aaa .bbb {
	
	width: 1280px;
	height: 70px;
	margin: 0 auto;	
	/*background-color: #666;*/

}
#aaa .logo {
	background: url(../img/logo.jpg) no-repeat center;
	width: 240px;
	height: 70px;
	float:left;
}
#aaa .ccc {

	width: 740px;
	height: 70px;
	background-color: #171717;
	float:right;

}
#aaa .ccc ul li{
 margin:0px;
 padding:0px;
}
#aaa .ccc li{
	width: 135px;
	height: 70px;
 line-height: 70px;
 text-align: center;
 list-style:none;
 list-style-position:outside;
 float:left;
 color:#fcf5f5;
}
#aaa .ccc li:hover {
background-color: #c17dd8;
color: white;}
#aaa .ccc a {
	text-decoration:none;
	color: #fcf5f5;}
#aaa .ggg{
	background-color: #453232;
}

/*底部*/
#footer {
	width: 100%;
	height: 475px;
	background-color: #222222;
}
#footer .top {
	width: 1280px;
	height: 396px;
	margin: 0 auto;
	text-align: center;	
	background-color: #222222;

}

#footer .hhh {
	width: 410px;
	height: 396px;
 	text-align: left;
	vertical-align: top;
	color: #ccc;
	display: inline-block;
}
#footer .hhh h2{
	font-size: 24px;
	padding: 40px 0 0 2px;
	color:#fcf5f5;
}
#footer .hhh ul{
	font-size: 18px;
	line-height: 2;
	text-indent: 1px;
 	color:#777;
 	list-style:none;
}
#footer .hhh hr{
	margin-top: 15px;
	border: 1px dashed #333;
	width: 90%;
}
#footer .bottom {
	height: 79px;
	width: 100%;
	text-align: center;
	background-color: #000000;
	color: #666;
	line-height: 79px;
}
/*底部结束*/
/*中焦点*/

#headline {
	background: url(../img/300a.jpg) no-repeat center;
	width: 1920px;
	height: 300px;
	min-width: 1280px;
	position:relative;
	margin: 0 auto; 
}
#headline .aaa{
	position: absolute;
	top: 40%;left: 20%;
	color: #eee;
}
#headline .aaa h2{
	font-size: 32px;

	}
#headline .aaa h3{font-size: 20px;}
#jichu{
	width: 1280px;
	height: 1150px;
	margin: 30px auto;
}

#jichu .zuo{
	width: 900px;
	height: 1150px;
	float: left;
	/*opacity: 0.6;设置透明度*/
}
/*中左开始*/
#jichu .zuo h2{
	font-weight: normal;
}
#jichu .zuo h3{
	font-size: 20px;
	color:#666;
	font-weight: normal;
	padding:20px 10px 10px 32px;
}
#jichu .zuo em{
	padding-left: 150px;
	color:#666;
	font-style: normal;
}


#jichu .zuo .aaa{
	width: 900px;
	padding-bottom:20px;
	border-bottom:1px dashed #000;
	opacity: 0.6;
	font-weight: normal;
	padding-top: 20px;

}
#jichu .zuo .bbb p{
	text-indent: 32px;
	color:#666;
	font-size: 16px;
	letter-spacing: 0.2px;
	padding-top: 20px;
}
#jichu .zuo .ccc ul{
	font-size: 16px;
	list-style:none;/*-----去除文字前的标注*/
	letter-spacing: 0.2px;/*字体左右间距*/
	line-height: 1.5;/*字体上下行间距*/
	color:#666;
	padding-top: 20px;
}
#jichu .zuo .ccc ul{
	padding-top: 25px;

}





/*中左结束 右开始*/
#jichu .you{

	width: 350px;
	height: 1150px;
	float: right;
	padding: 0 0 0 10px;
}
#jichu .you .aaa{
	width: 360px;

}
#jichu .you h2{
	font-size: 20px;
	
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
	text-indent: 5px;
	letter-spacing: 1px;/*字体左右间距*/
	border-bottom: 1px solid #eee;
	width: 310px;

}
#jichu .bbb, .ccc{
	padding: 5px;
}
#jichu .ccc a {
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	background-color: #eee;
	text-decoration:none;
	color: #888;
	text-align: left;
	text-indent: 10px;
	margin: 2px 0;
	font-size: 16px;
}
#jichu .ccc a:hover{
	background-color: #093;
	color: #fff;
}
#jichu .you figure{
	display: inline-block;
	padding:1px 1px;
	text-align: center;
	margin-left: 3px;

}
#jichu .you figcaption{
	color: #666;
	padding: 5px 0 0 0;}
#jichu .ddd a{
	text-decoration:none;/*取消连接下划线*/
	width: 145px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	margin: 3px 5px;
	color: #888;
	text-indent: 40px;
	display: inline-block;
}

#jichu .ddd .eee{
	background: #eee url(../img/trea1.png) no-repeat 10px center;
}
#jichu .ddd .fff{
	background: #eee url(../img/trea2.png) no-repeat 10px center;
}
#jichu .ddd .ggg{
	background: #eee url(../img/trea3.png) no-repeat 10px center;
}
#jichu .ddd .hhh{
	background: #eee url(../img/trea4.png) no-repeat 10px center;
} 
#jichu .ddd h2{
	margin: 0 0 1px 0 ;
	padding: 2px;
}
/*中右结束*/